@import "tailwindcss";

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slowZoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.animate-fadeSlide {
  animation: fadeSlide 0.8s ease-out forwards;
}

.animate-slowZoom {
  animation: slowZoom 20s ease-in-out infinite alternate;
}